ES_LITE_ENV=local

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=eslite
DB_USERNAME=eslite
DB_PASSWORD=eslite
DB_ROOT_PASSWORD=root

RANKING_MODEL=bm25
BM25_K1=1.2
BM25_B=0.75

FIELD_BOOST_TITLE=3.0
FIELD_BOOST_TAGS=2.0
FIELD_BOOST_BODY=1.0

SEARCH_RESULT_CACHE=true
SEARCH_MAX_EXPANSIONS=64

STEMMER=porter
STOPWORDS=english
